.page-container {
    display: grid;
    place-items: center;
    height: 93vh;
}

select {
    background-color: #9eef46;
    border: .125rem solid #19ae19;
    border-radius: .375rem;
    font-size: large;
}

select>option {
    background-color: #9eef46;
    border: .125rem solid #19ae19;
    border-radius: .375rem;
    font-size: large;
}

input {
    background-color: #9eef46;
    border: .125rem solid #19ae19;
    border-radius: .375rem;
    font-size: large;
    color: black;
}

input::placeholder {
    color: #7c7a7a;
}

.page-frame {
    /*Size*/
    width: 40%;
    height: 100%;
    min-height: fit-content;

    /*Border*/
    border: solid #19ae19;
    border-radius: 1rem;

    /*Background*/
    background-color: #d6ff90;

    /*Content*/
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-title {
    text-align: center;
    align-content: center;
    color: #0f8c0f;
}

.page-subtitle {
    text-align: center;
    align-content: center;
    color: #0f8c0f;
}

.back-button-footer {
    text-align: center;
}

.main-interface-button {
    padding: .875rem 1.125rem;
}

.footer {
    margin-top: auto;
    margin-bottom: 1%;
}